@model CLDV_ASSIGNMENT.Models.CloudTable1
@{
	ViewData["Title"] = "Sign Up";
}

<h1>About</h1>
<p> you need to sign up in the website for the application.</p>

<body>
	<form action="About" method="post">
		<p> Sign Up </p>
		<input type="text" name="user_Name" placeholder="Name" required >
		<input type="text" name="user_Surname" placeholder="Surname" required >
		<input type="text" name="user_Email" placeholder="example@gmail.com" required >
		<button type="submit"> Submit </button>
	</form>
</body>
