@{
    ViewData["Title"] = "About Us";
}

<div style="background-color: orange; color:white; padding: 40px; text-align: center; font-size: 25px">
    <h2>About Khumalo Craft Emporium</h2>
    <p> Welcome to Khumalo Craft Emporium!
        At Khumalo Craft Emporium we strive in connecting skilled artisians. 
    </p>
</div>

<div style="background-color: yellow; color:black; text-align: center; padding: 20px">
    <p>
        <strong style="font-size: 16px;">
            " A person that works with their hands is a laborer; a person that works with
            their hands and brain is a craftsman; but a person who works with their hands, brain
            and heart, is an artist."
        </strong>
    </p>
</div>

<div style="background-color: white; color:black; padding: 40px">
    <h2>Our Story:</h2>
    <p><strong>
        In the year 2001, I, James Khumalo embarked upon my journey in craftsmanship. Over the years
        I created many extra-ordinary pieces and had the idea of starting my own e-commerce platform. 

        Throughout my journey, I always had an interest in collaborating and working with diverse artists 
        in and around my hometown, Cape Town. However my dream and asiprations have always been to connect 
        with artists all over the world. This is when Khumalo Craft was founded.
    </strong></p>
</div>

<div style="display: flex;" >
    <img src="~/css/James Khumalo.jpg" width="648" height="440" />
    <img src="~/css/James Khumalo 3 paint.jpg" width="648" height="440" />
</div>

<div style="background-color: orange; color:white; padding: 40px">
    <h2>Our Mission:</h2>
    <p>
        Our Mission is to create a platform, where artists work can be
        celebrated and appreciated! We strive in providing a scalable, accessible,
        and user-friendly online marketplace, where artisians handcrafted products can
        be sold to a worldwide audience. 
    </p>
</div>

<div style="background-color:orangered; color:white; padding: 40px">
    <h2>Our Values:</h2>
    <p>
        At Khumalo Craft, we strive and stick by a core set of values in everything we do:
    </p>
    <ul>
        <li> Sustainability </li>
        <li> Global Collaboration </li>
        <li> Fair Trade </li>
        <li> Craftsmanship Excellence </li>
        <li> Customer Satisfaction </li>
    </ul>
</div>
