@{
    ViewData["Title"] = "Account";
}

<div style="background-color: orange; color:white; padding: 40px; text-align: center; font-size: 25px">
    <h2>Account</h2>
</div>

<div style="background-color: white; color:black; padding: 40px text-align: center">
    <h2 >View Details:</h2>
    <p>
        <strong>
            <p>Name: @ViewData["UserName"]!</p>
            <p>Surname: @ViewData["UserSurname"] </p>
            <p>Your email: @ViewData["UserEmail"]</p>
        </strong>
    </p>
</div>