@{
    ViewData["Title"] = "Contact Us";
}

<div style="background-color: orange; color:white; padding: 40px; text-align: center; font-size: 25px">
    <h2>Contact Us</h2>
    <p>
        If you would like to contact us, please use the following information below.
    </p>
</div>

<div style="display: flex;">
    <img src="~/css/contact us.jpg" width="270" height="300" />
    <img src="~/css/contact 3.jpg" width="270" height="300" />
    <img src="~/css/contact us 2.jpg" width="270" height="300" />
    <img src="~/css/contact 4.jpg" width="270" height="300" />
    <img src="~/css/contact 5.jpg" width="270" height="300" />
</div>

<div style="background-color:orange; color:white; padding: 40px">
    <h2>General Enquiries:</h2>
    <p>
            <strong>
            Khumalo Crafts Emporium - 021 658 4589 <br />
            KhumaloCraftsEmporium@outlook.com <br />
            89 Bree Street, building 4b, Cape Town, South Africa 
            </strong>
    </p>
</div>

