@{
    ViewData["Title"] = "Home Page";
}

<div style="background-color: orangered; color:white; padding: 30px; text-align: center; font-size: 25px; ">
    <h2> 
        <strong> 
            Welcome to Khumalo Craft Emporium
        </strong> 
    </h2>
    <p>
        At Khumalo Craft Emporium we strive in connecting skilled artisians.
    </p>
</div>


<div style="background-color: orange; color:white; padding: 15px; text-align: center; font-size: 30px">
    <p>
    <strong>
            >>>>>>>>>>>>>>>> SHOP NOW >>>>>>>>>>>>>>>>
    </strong>
    </p>
</div>


<img src="~/css/art 2.jpg" width="1296" height="700" />

<div style="background-color: yellow; padding: 5px">
</div>

<img src="~/css/SKILLED.jpg" width="1296" height="750" />

<div style="background-color: yellow; padding: 5px">
</div>

<img src="~/css/JAMES 4.jpg" width="1296" height="750" />

<div style="background-color: yellow; padding: 5px">
</div>

<img src="~/css/SKILLED 2.jpg" width="1296" height="750" />